body{
  background-color: #E69494;
background-image: linear-gradient(19deg, #E69494 0%, #B721FF 100%)

}

.App {
  text-align: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #531873;
}

.cell{
  margin: 2px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #512D7B70;
}

.map{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  margin: 0 auto;
  padding: 20px;
}

img{
  width: 48px;
  height: auto;
}

button{
  padding: 8px 16px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #21D4FD;
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  color: #531873;
  transition: all .3s ease-in-out;
}
button:hover{
  background-image: linear-gradient(45deg, #f0ce52 0%, #f850c6 100%);
}

.report{
  padding: 8px 16px;
  height: 48px;
  border: 1px solid #FBDA61;
  outline: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  background:transparent;
  margin-left: 16px;
}
.report:hover{
  background-image: linear-gradient(45deg, #f0ce5215 0%, #f850c617 100%);
}